#ifndef WiFiCredentials_h
#define WiFiCredentials_h

#include <HTTPClient.h>

#define WIFI_SSID "your-ssid"
#define WIFI_PASSWORD "your-passwoard
#define SERVER_ADDRES "your-server-IPadress" 
#define ONE_WIRE_BUS 4

const String serverName = "http://192.168.100.100/example.php"; // Example 
const String apiKey = "your-apiKey"
const IPAddress ipServer(192, 168, 100, 100); // Same as the SERVER_ADDRES
 #endif
